﻿@page
@{
    ViewData["Title"] = "404";
}

<div class="text-center">
    <h2 class="text-primary">404</h2>
    <h3 class="text-primary">Could not find the requested page</h3>
    <img src="~/img/travolta_confused.gif" class="ml-5 mt-5"/>
</div>