﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container h-100">
        <main role="main" class="pb-3 h-100 d-flex align-items-center justify-content-center">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/site.js"></script>
</body>
</html>
