﻿@page
@{
    ViewData["Title"] = "Home page";
}

<div class="card text-center p-5">
    <form id="upload-form" class="d-flex flex-column justify-content-between">
        <p class="mb-3">Upload a JSON file containing the data intercepted by the rebels</p>
        <div class="form-group mb-0">
            <label for="empire-file-input" id="empire-file-label" class="label-file d-flex align-items-center justify-content-center w-100">Pick a file</label>
            <input type="file" name="file" id="empire-file-input" class="input-file" accept=".json" hidden/>
            <button type="submit" class="btn btn-dark mt-3 btn-block" disabled id="send-button">Send</button>
        </div>
    </form>
    <div id="result" class="mt-3"></div>
</div>
