﻿html, body {
  height: 100%;
}

.file-loaded {
  color: #6b6b6b !important;
  font-weight: bold;
  background-color: #ffffff !important;
}

.label-file:hover {
  background-color: #d8dde0 !important;
}

.label-file:active {
  background-color: #e9ecef;
}

.label-file {
  cursor: pointer;
  color: #9fa7af;
  display: block;
  border-radius: 5px 5px 5px 5px;
  min-height: 90px;
  background-color: #e9ecef;
  border: 1px #dee2e6 solid;
}